@media all and (min-width: 766px) and (max-width: 992px) {
  .everything {
    width: 766px;
  }

  h1 {
    font-size: 18px;
  }

  h3 {
    font-size: 14px;
    margin-right: 0%;
    margin: 10px;
  }

  html {
    overflow: auto;
  }

  /* hebergements-et-populaires */

  .hebergements-et-populaires {
    flex-wrap: wrap-reverse;
    row-gap: 50px;
    flex-direction: column-reverse;
  }

  .herbergements {
    margin: auto;
    width: 100%;
  }

  .populaires {
    flex-direction: row;
    width: 100%;
  }

  .pop-thumb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 15px;
  }

  .link-thumb-pop {
    padding: 10px 10px 5px 0px;
    width: 100%;
  }

  /* activity  */

  .activity-card {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px 15px;
  }

  /* footer  */

  .footer-columns {
    margin-left: 100px;
  }

  .footer-link {
    margin-left: 10px;
  }
}
