@media all and (max-width: 765px) {
  .everything {
    width: 100%;
    margin: auto;
  }

  h1,
  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
    margin: 0px -20px -5px 8px;
  }

  p {
    font-size: 17px;
    font-weight: normal;
  }

  /* header */

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    margin: 0%;
  }

  .logo {
    height: 70px;
    margin-top: 5px;
  }

  nav {
    width: 100%;
  }

  .navbar {
    width: 100%;

    border-bottom: solid 2px var(--grey-color);
  }

  .navLink {
    padding: 15px 0px;
    height: 0%;
    width: 100%;
  }

  .navLink:hover {
    border-top: none;
    border-bottom: 2px solid var(--blue-color);
  }

  /* search-filter */

  .sub-title {
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
  }

  .form {
    margin: 35px auto;
  }

  .logomap {
    min-width: 55px;
    min-height: 57px;
  }

  .fa-solid {
    font-size: 18px;
  }

  input {
    width: 70%;
    margin-right: -50px;
  }

  .search-txt {
    display: none;
  }

  .search-logo {
    visibility: visible;
  }

  .search {
    border-radius: 15px;
    font-size: 18px;
    padding: 18px 20px;
    opacity: 1;
  }

  /* filter */

  .filterinfo {
    margin-top: 30px;
    margin-bottom: 35px;
  }

  .button-eco,
  .button-family,
  .button-love,
  .button-pets {
    margin: 0px 12px 15px 0px;
    font-size: 12px;
  }

  .info-icone {
    margin-left: -5px;
    width: 30px;
    height: 25px;
  }

  #filter-info {
    font-size: 15px;
    font-weight: bold;
    margin: 20px 0px;
  }

  /* hebergements-et-populaires */

  .hebergements-et-populaires {
    flex-direction: column-reverse;
    align-items: center;
    margin: 50px 0px;
  }

  .populaires {
    width: 100%;
    background-color: var(--grey-color);
    padding: 15px;
    border-radius: 0%;
  }

  #title-2 {
    margin: 20px 0px;
    font-size: 23px;
  }

  #pop-stars {
    font-size: 20px;
  }

  .pop-thumb {
    margin: 0;
  }

  .thumb-card-pop {
    width: 100%;
    height: 155px;
  }

  .link-thumb-pop {
    padding: 10px 0px;
  }

  .img-pop {
    min-width: 40%;
  }

  .price-pop {
    margin: 10px 0px 15px 8px;
    font-weight: bold;
  }

  /* herbergements */

  .herbergements {
    width: 100%;
    margin: 25px 0px;
    padding: 0%;
    background-color: transparent;
  }

  #title-1 {
    margin: 20px 0px 20px 10px;
    font-size: 20px;
  }

  .thumbnail-hebergements {
    flex-direction: column;
    align-items: center;
  }

  .link-thumb {
    width: 95%;
  }

  .img-heb {
    height: 125px;
  }

  .price {
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0px 5px 8px;
  }

  .plus {
    margin: 15px 10px;
    font-size: 20px;
  }
  /* activity */

  .activity {
    margin: 30px 0px;
    width: 100%;
  }

  #title-3 {
    margin-left: 10px;
    font-size: 20px;
  }

  .activity-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .thumb-card-act {
    margin: 10px 15px;
  }

  #vieuxPort,
  #fort,
  #frioul,
  #parcNatio,
  #notreDame,
  #parcLong {
    height: 170px;
    width: 100%;
  }

  /* footer */
  .end {
    flex-direction: column;
  }

  .footer-columns {
    width: 100%;
  }

  .footer-link {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
  }
}
