/* On applique box-sizing à tous les éléments */
* {
  box-sizing: border-box;
}

/*  communs à toute la page */
:root {
  --blue-color: #0065fc;
  --light-blue-color: #deebff;
  --grey-color: #f2f2f2;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Raleway", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: var(--blue-color);
}

.everything {
  max-width: 992px;
  margin: auto;
}

h1,
h2 {
  font-size: 16px;
  font-weight: bold;
}

h3 {
  font-size: 15px;
  margin-right: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}

h4 {
  font-size: 14px;
  margin: 7px 0 0 9px;
  font-weight: bold;
}

h5 {
  margin: 15px 10px;
  font-size: 12px;
}

p {
  font-size: 11px;
  font-weight: bold;
}

figure {
  margin: 0;
}

/* HEADER */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 34px;
}

.logo {
  height: 50px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 0;
  min-width: 250px;
}

.navLink {
  padding: 0 20px;
  height: 92px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.navLink:hover {
  border-top: 2px solid var(--blue-color);
}

.navLink:hover a {
  color: var(--blue-color);
}

/* SEARCH */

.search-filter {
  margin: 40px 20px;
}

.sub-title {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 12px;
}

.form {
  display: flex;
}

.logomap {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grey-color);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.fas {
  font-size: 15px;
  color: var(--blue-color);
}

input {
  min-width: 170px;
  border: none;
  border-top: 1px solid var(--grey-color);
  border-bottom: 1px solid var(--grey-color);
  font-size: 10px;
  font-weight: bold;
  padding-left: 10px;
  font-size: 15px;
}

.search {
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--blue-color);
  color: white;
  font-size: 12px;
  text-align: center;
  padding: 0 25px;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.9;
}

.search-logo {
  visibility: hidden;
}

.search:hover {
  opacity: 1;
  transform: scale(1.05);
}

/* filter */

.filterInfo {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 25px;
}

.filter-button {
  display: flex;
  flex-wrap: wrap;
}

.button-eco,
.button-family,
.button-love,
.button-pets {
  display: flex;
  align-items: center;
  height: 35px;
  background-color: white;
  border: 2px solid var(--grey-color);
  border-radius: 50px;
  padding-right: 20px;
  margin-left: 30px;
  font-weight: bold;
  font-size: 10px;
  cursor: pointer;
}

.button-eco:hover {
  background-color: var(--blue-color);
  color: white;
  border-color: var(--blue-color);
}
.button-family:hover {
  background-color: var(--blue-color);
  color: white;
  border-color: var(--blue-color);
}
.button-love:hover {
  background-color: var(--blue-color);
  color: white;
  border-color: var(--blue-color);
}
.button-pets:hover {
  background-color: var(--blue-color);
  color: white;
  border-color: var(--blue-color);
}

.icone {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-blue-color);
  height: 35px;
  width: 35px;
  border: 2px solid var(--light-blue-color);
  border-radius: 35px;
  margin-left: -12px;
  margin-right: 15px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.info-icone {
  width: 30px;
  height: 30px;
  border: 2px solid var(--grey-color);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  display: flex;
}

#filter-info {
  font-size: 14px;
}

/*  HEBERGEMENTS & POPULAIRES*/

.hebergements-et-populaires {
  display: flex;
  flex-direction: row;
  margin: 50px 10px;
  justify-content: space-between;
}

.herbergements {
  width: 67%;
  border-radius: 25px;
  background-color: var(--grey-color);
  padding: 20px;
  justify-content: space-between;
}

#title-1 {
  margin: 10px 0px 10px 3px;
  font-size: 18px;
}

.thumbnail-hebergements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 15px;
}

.link-thumb {
  width: 31%;
}

.thumb-card {
  background-color: white;
  padding: 5px;
  border-radius: 17px;
  margin-bottom: 17px;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.3);
}

.thumb-card:hover {
  transform: scale(1.1);
}

.img-heb {
  width: 100%;
  height: 85px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  object-fit: cover;
}

.price {
  font-size: 12px;
  margin: 5px 10px;
}

.stars {
  align-items: center;
  margin-left: 10px;
  margin-bottom: 5px;
}

.star--blue {
  font-size: 9px;
  color: var(--blue-color);
}
.star--grey {
  font-size: 9px;
  color: var(--grey-color);
}

.plus {
  margin: 5px 9px;
  font-size: 17px;
  font-weight: bold;
}

/* populaires */

.populaires {
  width: 30%;
  border-radius: 20px;
  background-color: var(--grey-color);
  padding: 30px 20px 30px 20px;
}

.pop-title {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

#title-2 {
  font-size: 19px;
}

.price-pop {
  margin: 5px 8px;
}

.pop-thumb {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

.thumb-card-pop {
  background-color: white;
  border-radius: 17px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 5px 10px 5px 5px;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.3);
  height: 115px;
}

.thumb-card-pop:hover {
  transform: scale(1.1);
}
.img-pop {
  height: 100%;
  width: 95px;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
  object-fit: cover;
}

.pop-txt {
  justify-content: space-between;
  align-items: flex-start;
}

/* ACTIVITES */

.activity {
  margin: 40px 25px;
}

#title-3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.thumb-card-act {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: white;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
}

.thumb-card-act:hover {
  transform: scale(1.1);
}

.img-act {
  background-size: cover;
  background-position: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.activity-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px 20px;
  grid-auto-flow: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "vieux-port fort- parc-natio notre-dame"
    "vieux-port fort- parc-natio parc"
    "vieux-port frioul parc-natio parc";
}

.vieux-port {
  grid-area: vieux-port;
  width: 100%;
}

.parc-natio {
  grid-area: parc-natio;
  width: 100%;
}

.fort- {
  grid-area: fort-;
  width: 100%;
}

.frioul {
  grid-area: frioul;
  width: 100%;
}

.parc {
  grid-area: parc;
  width: 100%;
}

.notre-dame {
  grid-area: notre-dame;
  width: 100%;
}

#vieuxPort,
#parcNatio {
  height: 290px;
  width: 100%;
}

#fort,
#parcLong {
  height: 140px;
  width: 100%;
}

#frioul,
#notreDame {
  height: 100px;
  width: 100%;
}

.act-txt {
  padding: 3px 0px 10px 5px;
}

/* footer */

.end {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--grey-color);
  padding: 20px 30px;
  margin-top: 40px;
}

.footer-columns {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.footer-link {
  font-size: 13px;
  margin-bottom: 5px;
}
